
.my_pics{
    background-color: #EB9390;
    color: black;
    font-size: larger;
    font-weight: bold;
    border-radius: 50%;
    border: none;
    width: 2rem;
    height: 2rem;
    z-index: 1;
}

#my-pictures1, #my-pictures2, #my-pictures3,#my-pictures4,#my-pictures5,#my-pictures6, #my-pictures7, #my-pictures8,#my-pictures9{
    visibility: hidden;
}

#my-pictures:hover{
    background-color: black;
    color: #EB9390;
}

#image-section {
    margin-top: 5%;
    width: 50%;
    margin-left: 10%;
}
#details-section {
    width:50%;
    margin-right: 10%;
    margin-top: 5%;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 10em;
    height: 13em;
}

.form-section {
    display: flex;
    left: 0;
    right: 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 540px;
    margin: auto;
    padding: 10px;
    gap: 12px;
}
