/* main {
    position: fixed;
    top: 5px;
    left: 255px;
    right: 5px;
    bottom: 5px;
    background-color: aliceblue;
    margin: 5px;
    padding: 5px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 240px;
    height: 100vh;
    background-color: black;
    padding: 5px;
}

li {
    display: block;
    color: whitesmoke;
    padding: 10px;
    font-weight: 500;
    font-size: large;
}

li a {
    text-decoration: none;
    color: azure;
} */
html{
    width: 100%;
}

main {
 max-width: 950px;
 margin: 0 auto;
}

body {
    background-color: #E4E4E4;
    padding: 0 15px;
}

h1,
h2,
h3,
h4,
h5,
h5,
p {
    color: #000000;
    font-family: 'Inter';
}

article {
    margin-bottom: 10px;
}