main {
    position: fixed;
    top: 5px;
    left: 255px;
    right: 5px;
    bottom: 5px;
    background-color: aliceblue;
    margin: 5px;
    padding: 5px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 240px;
    height: 100vh;
    background-color: black;
    padding: 5px;
}

li {
    display: block;
    color: whitesmoke;
    padding: 10px;
    font-weight: 500;
    font-size: large;
}

li a {
    text-decoration: none;
    color: azure;
}